.about-program {
  display: grid;
  grid-template-rows: content, content;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
  }
}

.about-program__title {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.about-program__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .zero-intervals;
  list-style: none;
  counter-reset: number;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.about-program__item {
  position: relative;
  min-height: 60px;
  margin: 0 0 20px 0;
  padding: 0 0 0 80px;
  .arial;

  @media (min-width: @tablet-width) {
    max-width: 250px;
    margin: 0 0 37px 0;
    padding: 151px 5px 57px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.about-program__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    top: 42px;
    width: 80px;
    height: 80px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.about-program__item::after {
  @media (min-width: @tablet-width) {
    counter-increment: number;
    content: counter(number);
    position: absolute;
    top: 0;
    left: 113px;
    z-index: -1;
    font-size: 280px;
    line-height: 1;
    color: @basic-gray;
  }
}
