.additionally {
  .zero-intervals;
  margin: 39px 0 41px 0;
  list-style: none;
}

.additionally__item {
  .zero-intervals;
  margin-bottom: 25px;
}

.additionally__item:last-of-type {
  margin-bottom: 0;
}
