.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-bottom: auto;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  border: none;
  cursor: pointer;
  outline: 0;
}
