.cat-main-info {
  .zero-intervals;
  border: none;
}

.cat-main-info__list {
  .zero-intervals;
  margin-bottom: 24px;
  list-style: none;
}

.cat-main-info__item:not(:last-of-type) {
  margin-bottom: 13px;
}
