.contacts__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 26px;
  padding-top: 28px;
  background-color: @basic-gray;
}

.contacts__text {
  display: block;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special-black;
}

.contacts__address {
  display: block;
  line-height: 1.42;
  font-style: normal;
  .arial;
}
