.extra__title {
  position: relative;
  margin-bottom: 36px;
  padding: 0 20px 0 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: @basic-black;

  @media (min-width: @tablex-width) {
    margin-bottom: 80px;
    font-size: 36px;
  }

  @media (min-width: @decktop-width) {
    margin-bottom: 81px;
  }
}

.extra__title::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: @special-grey;

  @media (min-width: @tablex-width) {
    content: none;
  }
}

.extra__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 39px 0 35px 0;
  padding: 186px 61px 43px 58px;
  background-color: @basic-green;

  @media (min-width: @tablex-width) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 69px 0 76px 0;
    padding: 71px 124px 69px 423px;
  }

  @media (min-width: @decktop-width) {
    margin: 0 0 0 79px;
    padding: 184px 43px 42px 41px;
  }
}

.extra__gift-text {
  width: 161px;
  .zero-intervals;
  text-align: center;
  font-size: 16px;
  line-height: 1.25;
  color: @basic-white;
  .arial;

  @media (min-width: @tablex-width) {
    text-align: start;
  }

  @media (min-width: @decktop-width) {
    text-align: center;
  }
}
