.extra-item {
  display: grid;
  grid-template-areas: "title ."
    "characteristics characteristics"
    "button button";
  padding: 11px 0 18px 0;
  border-top: 1px solid @special-grey-1;
  border-bottom: 1px solid @special-grey-1;

  @media (min-width: @tablet-width) {
    grid-template-areas: "title characteristics"
      "button button";
    margin-left: 5px;
    padding: 24px 31px 26px 39px;
    border: 1px solid @special-grey-1;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas: "title characteristics button";
    margin-left: 0;
    padding: 15px 0 16px 0;
    border: none;
    border-top: 1px solid @special-grey-1;
    border-bottom: 1px solid @special-grey-1;
  }
}

.extra-item:not(:last-of-type) {
  border-bottom: none;
}

.extra-item__title {
  grid-area: title;
  min-width: 200px;
  text-align: start;
  margin: 0 0 11px 1px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 9px 0 0 0;
  }
}

.extra-item__characteristics {
  grid-area: characteristics;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    justify-self: end;
    justify-content: flex-end;
    width: 225px;
    margin-bottom: 0;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 288px;
    margin: 9px 0 0 125px;
  }
}

.extra-item__characteristic-title,
.extra-item__characteristic-price {
  font-size: 14px;
  line-height: 1;
  .arial;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.extra-item__characteristic-title {
  @media (min-width: @tablet-width) {
    margin-right: 48px;
  }
}

.extra-item__button {
  grid-area: button;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: @tablet-width) {
    height: 38px;
    margin-top: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    margin: 0 0 0 38px;
  }
}
