.footer {
  padding: 32px 0 15px 0;
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  align-self: center;
  margin-bottom: 32px;
}

.footer__social {
  padding: 23px 0 24px 0;
  border-top: 1px solid @special-light-gray-2;
}

.footer__developer {
  padding-top: 22px;
  border-top: 1px solid @special-light-gray-2;
  font-size: 16px;
  line-height: auto;
  color: @special-grey-3;
  .arial;
}
