.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 57px;
    padding-bottom: 53px;
  }
}

.footer__logo {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid @special-light-gray-2;

  @media (min-width: @tablet-width) {
    width: max-content;
    padding-bottom: 0;
    text-align: start;
    border-bottom: none;
  }
}

.footer__logo:focus,
.footer__logo:hover {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__social {
  padding: 22px 0 16px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.footer__developer {
  display: inline-flex;
  align-items: center;
  align-self: stretch;
  padding-top: 23px;
  border-top: 1px solid @special-light-gray-2;
  font-size: 16px;
  line-height: 1;
  color: @special-grey-3;
  .arial;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: -5px 1px 0 0;
    border-top: none;
  }
}

.footer__developer:focus,
.footer__developer:hover {
  color: @basic-green;
}

.footer__developer:active {
  color: @basic-green;
  opacity: 0.3;
}

.footer__developer-icon {
  margin-left: auto;
  fill: currentColor;

  @media (min-width: @tablet-width) {
    margin-left: 22px;
  }
}
