.form {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__element {
  display: flex;
  flex-wrap: nowrap;
}

.form__input-ico-email,
.form__input-ico-phone {
  position: absolute;
  right: 14px;
  bottom: 19px;

  @media (min-width: @tablet-width) {
    right: 19px;
  }
}

.form__input-ico-email {
  fill: none;
  stroke: @special-grey-6;
}

.form__input-ico-phone {
  bottom: 18px;
  fill: @special-grey-6;
}

.form__input:valid + .form__input-ico-email {
  stroke: @basic-green;
}

.form__input:valid + .form__input-ico-phone {
  fill: @basic-green;
}

.form__input--error + .form__input-ico-email {
  stroke: @status-errer;
}

.form__input--error + .form__input-ico-phone {
  fill: @status-errer;
}

.form__label,
.form__label-radio,
.form__label-checkbox {
  align-self: center;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special-grey-4;

  @media (min-width: @tablet-width) {
    margin-right: 16px;
    font-size: 20px;
    line-height: auto;
  }
}

.form__input {
  flex-grow: 2;
  height: 45px;
  margin-bottom: 5px;
  padding: 0 5px 0 15px;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special-grey-3;
  border: 1px solid @special-light-gray-4;
  appearance: none;
  outline: 0;
  transition: @default-transition;

  @media (min-width: @tablet-width) {
    height: 51px;
    padding: 0 5px 0 21px;
    font-size: 20px;
    line-height: auto;
  }
}

.form__input:hover {
  border: 1px solid @special-grey-1;
}

.form__input:focus {
  border: 1px solid @special-grey-3;
}

.form__input--error {
  border: 1px solid @status-errer;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__radio {
  display: none;
}

.form__label-radio {
  position: relative;
  display: block;
  padding: 6px 0 6px 45px;
  overflow: hidden;
  cursor: pointer;
  transition: @default-transition;

  @media (min-width: @tablet-width) {
    padding: 10px 0 10px 60px;
  }
}

.form__label-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @special-grey-1;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__label-radio:focus::before,
.form__label-radio:hover::before {
  border: 1px solid @special-grey-5;
}

.form__label-radio::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;
  background-color: @basic-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 12px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}

.form__radio + .form__label-radio::after {
  content: none;
}

.form__radio:checked + .form__label-radio::after {
  content: "";
}

.form__textarea {
  width: 100%;
  height: 150px;
  padding: 9px 5px 5px 15px;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: @special-grey-3;
  resize: none;

  @media (min-width: @tablet-width) {
    height: 174px;
    padding-top: 15px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.form__checkbox {
  display: none;
}

.form__label-checkbox {
  position: relative;
  display: block;
  margin-right: 0;
  padding: 4px 0 4px 44px;
  overflow: hidden;
  cursor: pointer;
  transition: @default-transition;

  @media (min-width: @tablet-width) {
    padding: 7px 0 10px 58px;
  }

  @media (min-width: @desktop-width) {
    padding: 7px 0 12px 58px;
  }
}

.form__label-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 26px;
  border: 1px solid @special-grey-1;

  @media (min-width: @tablet-width) {
    top: -2px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 14px;
  height: 8px;
  border-left: 1px solid @basic-green;
  border-bottom: 1px solid @basic-green;
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 11px;
    width: 17px;
    height: 12px;
  }

  @media (min-width: @desktop-width) {
    top: 9px;
  }
}

.form__checkbox + .form__label-checkbox::after {
  content: none;
}

.form__checkbox:checked + .form__label-checkbox::after {
  content: "";
}

.form__label-radio:focus::before,
.form__label-checkbox:focus::before,
.form__label-radio:hover::before,
.form__label-checkbox:hover::before {
  border: 1px solid @special-grey-5;
}

.form__radio:disabled + .form__label-radio,
.form__checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
  outline: 0;
}

.form__submit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form__submit-button {
  width: 100%;
  font-size: 16px;
  line-height: 1.25;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
    line-height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__requaired-info {
  margin: 22px auto 0 auto;
  line-height: 1.14;
  color: @basic-black;
  .arial;

  @media (min-width: @tablet-width) {
    align-self: center;
    margin: 0 auto 0 63px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    width: 538px;
    margin-left: 80px;
  }
}
