.good {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.good___img {
  flex-grow: 1;
}

.good__title {
  font-size: 16px;
  line-height: 1.25;
  color: @special-grey-4;
}

.good__info-element {
  font-size: 12px;
  line-height: 1.33;
  color: @special-grey-3;
}

.good__button {
  align-self: stretch;
}
