.goods__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  .zero-intervals;
  margin: 0 -20px 0 -20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -60px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 -80px 0 0;
  }
}

.goods__item {
  position: relative;
  width: 100%;
  margin: 0 0 19px 0;
  padding: 0 20px;

  @media (max-width: @max-mobile-width) {
    border-top: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0 60px 59px 0;
    padding: 34px 37px 41px 37px;
    background-image: @background-grey-good-item;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin: 0 80px 63px 0;
    padding: 29px 39px 40px 38px;
  }
}

.goods__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;

  @media (max-width: @max-mobile-width) {
    border-bottom: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    margin: 142px 0 0 0;
  }
}

.goods__add-title {
  margin: 23px 0 8px 0;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: @special-grey-4;

  @media (min-width: @tablet-width) {
    margin: 49px 0 23px 0;
    font-size: 20px;
    line-height: 1.2;
  }
}

.goods__add-info {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: @special-grey-3;
  .arial;

  @media (min-width: @tablet-width) {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 1.125;
  }
}

.goods__button {
  align-self: stretch;
  margin-bottom: 25px;
  color: @special-grey-3;
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.goods__button:focus,
.goods__button:hover {
  background-color: @special-grey;
}

.goods__button:active {
  color: @special-grey-3-0-30;
}
