.goods {
  overflow: hidden;
}

.goods__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  .zero-intervals;
  margin: 0 -20px 0 -20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -60px 0 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 -80px 0 0;
  }
}

.goods__item {
  position: relative;
  width: 100%;
  margin: 0 0 24px 0;
  padding: 0 20px;

  @media (max-width: @max-mobile-width) {
    border-top: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0 60px 59px 0;
    padding: 0 37px 41px 37px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin: 0 80px 33px 0;
    padding: 29px 39px 42px 38px;
  }
}

.goods__item::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 80px);
    background-color: @basic-gray;
  }

  @media (min-width: @desktop-width) {
    height: calc(100% - 110px);
  }
}

.goods__item:last-of-type {
  margin-bottom: 7px;
}

.goods__item:nth-of-type(7) {
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.goods__add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
  background: none;

  @media (max-width: @max-mobile-width) {
    border-bottom: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    margin: 142px 0 0 0;
  }
}

.goods__add-plus {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }

  @media (min-width: @tablet-width) {
    margin-top: -5px;
  }
}

.goods__add-title {
  margin: 25px 0 8px 0;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: @special-grey-4;

  @media (min-width: @tablet-width) {
    width: 150px;
    margin: 49px 0 23px 0;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: @tablet-width) {
    margin: 46px 0 23px 0;
  }
}

.goods__add-info {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: @special-grey-3;
  .arial;

  @media (min-width: @tablet-width) {
    width: 200px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 1.125;
  }
}

.goods__button {
  align-self: stretch;
  margin-bottom: 25px;
  font-size: 16px;
  color: @special-grey-3;
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.goods__button:focus,
.goods__button:hover {
  background-color: @special-grey;
}

.goods__button:active {
  color: @special-grey-3-0-30;
}
