.good {
  display: grid;
  grid-template-areas:
    "img title"
    "img info"
    "button button";

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.good___img {
  margin: auto;
  grid-area: img;
}

.good__title {
  grid-area: title;
  max-width: 76px;
  margin: 19px 0 18px 0;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: @special-grey-4;

  @media (min-width: @tablet-width) {
    max-width: 154px;
    margin: 34px 0 21px 0;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: @desktop-width) {
    margin: 46px 0 21px 0;
    line-height: 1.05;
  }
}

.good__info {
  grid-area: info;
  width: 100%;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    border-collapse: collapse;
  }
}

.good__info-row {
  @media (min-width: @tablet-width) {
    height: 25px;
    border-bottom: 1px solid @special-grey-1;
  }
}

.good__info-element-name,
.good__info-element-price {
  font-size: 12px;
  line-height: 1.33;
  color: @special-grey-3;
  .arial;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}

.good__info-element-name {
  text-align: start;
}

.good__info-element-price {
  text-align: end;
}

.good__button {
  grid-area: button;

  @media (min-width: @tablet-width) {
    align-self: stretch;
  }
}
