.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}

.header__logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: @default-transition;

  @media (max-width: @max-mobile-width) {
    margin: 12px 0 14px 0;
    width: 190px;
  }
}

.header__logo-ico {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 51px;
  }

  @media (min-width: @desktop-width) {
    width: 201px;
    height: 59px;
  }
}

.header__logo:focus,
.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__menu-button--open,
.header__menu-button--close {
  position: absolute;
  top: 23px;
  left: 86%;
  width: 24px;
  height: 16px;
  background-color: transparent;
  border: none;
  border-top: 1px solid @basic-black;
  border-bottom: 1px solid @basic-black;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__menu-button--open::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 24px;
  height: 1px;
  background-color: @basic-black;
}

.header__menu-button--close {
  width: 18px;
  height: 18px;
  border: none;
}

.header__menu-button--close::before,
.header__menu-button--close::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 10px;
  display: block;
  width: 1px;
  height: 24px;
  background-color: @basic-black;
}

.header__menu-button--close::before {
  transform: rotate(45deg);
}

.header__menu-button--close::after {
  transform: rotate(-45deg);
}
