.intro {
  @media (max-width: @max-mobile-width) {
    position: relative;
  }
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  width: 100%;
  height: 302px;
  background-image: url("../img/index/index-background-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1000px 0 0 @basic-green-opacity-0-8 inset;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/index-background-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background: none;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    right: 0;
    left: unset;
    width: 50%;
    height: 692px;
    background-image: url("../img/index/index-background-desktop.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 100000px 0 0 @basic-green-opacity-0-8 inset;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/index-background-desktop@2x.png");
    }
  }
}

.intro__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-left: 118px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 80px;
    padding-left: 190px;
  }
}

.intro__title {
  width: auto;
  margin: 27px 0 25px 0;
  align-self: center;
  text-align: center;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 414px;
    margin: 55px 0 41px 0;
    align-self: flex-start;
    text-align: start;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    margin: 109px 0 40px 0;
  }
}

.intro__text {
  width: auto;
  margin-bottom: 302px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 283px;
    margin-bottom: 47px;
    align-self: flex-start;
    font-size: 20px;
    text-align: start;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.intro__product-image {
  position: absolute;
  top: 168px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: 255px;
    left: 30px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    top: 25px;
    left: 560px;
    z-index: 0;
    width: 552px;
    height: 499px;
  }
}

.intro__button {
  margin: 0;
  align-self: stretch;

  @media (min-width: @tablet-width) {
    width: 244px;
    min-height: 54px;
    margin: 0 0 526px -5px;
    align-self: flex-start;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 185px 0;
  }
}
