.nav {
  @media (max-width: @max-mobile-width) {
    margin: 0 -20px 0 -20px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .zero-intervals;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 440px;
  }

  @media (min-width: @desktop-width) {
    min-width: 480px;
  }
}

.nav__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0 22px 0;
  border-top: 1px solid @special-light-gray;

  @media (min-width: @tablet-width) {
    margin-right: 35px;
    border-top: none;
  }
}

.nav__item:last-of-type {
  border-bottom: 1px solid @special-light-gray;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    border-bottom: none;
  }
}

.nav__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: @basic-black;
  transition: @default-transition;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: auto;
  }
}

.nav__link--desktop-only {
  transition: @default-transition;

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.nav__link:focus,
.nav__link--desktop-only:focus,
.nav__link:hover,
.nav__link--desktop-only:hover {
  opacity: 0.6;
}

.nav__link:active,
.nav__link--desktop-only:active {
  opacity: 0.3;
}

.nav__link--active-main-only::before,
.nav__link--active::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
  }
}

.nav__link--active-main-only::before {
  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}

.nav__link--active-main-only:focus,
.nav__link--active:focus,
.nav__link--active-main-only:hover,
.nav__link--active:hover,
.nav__link--active-main-only:active,
.nav__link--active:active {
  opacity: 1;
}

.nav--close {
  @media (max-width: @max-mobile-width) {
    display: none;
  }
}

.nav--nojs {
  @media (max-width: @max-mobile-width) {
    display: block;
  }
}
