.nav {
  @media (max-width: @max-mobile-width) {
    margin: 0 -20px 0 -20px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .zero-intervals;
  list-style: none;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 440px;
  }

  @media (min-width: @desktop-width) {
    max-width: 478px;
  }
}

.nav__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0 24px 0;
  border-top: 1px solid @special-light-gray;

  @media (min-width: @tablet-width) {
    margin-right: 32px;
    border-top: none;
  }
}

.nav__item:last-of-type {
  border-bottom: 1px solid @special-light-gray;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    border-bottom: none;
  }
}

.nav__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: auto;
  }
}

.nav__link--desktop-only {
  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.nav__item--active-main-only::before,
.nav__item--active::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: @basic-green;
  }
}

.nav__item--active-main-only::before {
  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}
