.program {
  display: grid;
  grid-template-rows: 1fr, 1fr;
}

.program__list {
  .zero-intervals;
  list-style: none;
}

.program__item {
  background-color: @basic-gray;
  margin-bottom: 20px;
  padding: 20px 20px 0 20px;
}

.program__title {
  .zero-intervals;
  margin: 0 0 29px 71px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.54;
  text-transform: uppercase;
  color: @basic-black;
}

.program__text {
  .zero-intervals;
  margin-bottom: 23px;
  .arial;
}

.program-catalog {
  position: relative;
  display: block;
  padding: 19px 0 22px 0;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: @basic-black;
  border-top: 1px solid @special-light-gray-2;
}

.program-catalog::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 100px;
  width: 18px;
  height: 1px;
  background-color: @basic-black;
}
