.user-info {
  .zero-intervals;
  border: none;
}

.user-info__block {
  margin: 37px auto 22px auto;

  @media (min-width: @tablex-width) {
    margin: 76px auto 65px auto;
  }

  @media (min-width: @decktop-width) {
    margin: 76px auto 67px auto;
  }
}
