.user-contacts {
  margin: 36px auto 21px auto;

  @media (min-width: @tablet-width) {
    margin: 75px auto 63px auto;
  }

  @media (min-width: @desktop-width) {
    margin: 73px auto 65px auto;
  }
}

.user-contacts__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .zero-intervals;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.user-contacts__item {
  position: relative;

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.user-contacts__item:not(:last-of-type) {
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
