.title,
.main-subtitle,
.form-title {
  .zero-intervals;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  color: @basic-black;
}

.main-subtitle {
  line-height: 1.11;
}

.form-title {
  max-width: 221px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 1.08;
  background-color: @basic-white;
}

.catalog-title {
  margin-bottom: 41px;
  padding: 27px 20px 0 20px;
  border-top: 1px solid @special-light-gray-2;
}
